<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Win Game Home</title>
    {% load static %}
	<link href="{% static 'war/styles.css' %}" rel="stylesheet" type="text/css">
    {% comment %} <link rel="stylesheet" type="text/css" href="styles.css" /> {% endcomment %}
</head>
<body>
    <header>
        <div class="header-title-container">
            <h1> Win Game</h1>
        </div>
        <div class="header-round-info-container">
            <div class="header-img-container">
                <img src="static/war/AceSpades.png" alt="" class="header-img">
            </div>
             <div class="header-score-container">
                <h2 class="score">Rounds Player1 won 
                    <div>
                        <span class="badge">{{games_player1_won}}
                        </span>
                    </div>
                </h2>
            </div>
            <div class="header-round-container">
                <h2 class="score">Rounds Player2 won 
                    <div>
                    <span class="badge">{{games_player2_won}}
                    </span>
                    </div>
                </h2>
            </div> 
            <div class="header-round-container">
                <h2 class="score">Ties &nbsp;<span class="badge">{{games_tie}}</span></h2>
            </div> 
        </div>
    
    
        <div class="header-button-container">
            <form action="{% url 'home' %}" method="GET">
                <div class="game-play-button-container">
                    <button id = "home" class="play-game">Home</button>
                </div>
            </form>
        </div>
    </header>
    
</body>
</html>