<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Win Game Home</title>
    {% load static %}
	<link href="{% static 'war/styles.css' %}" rel="stylesheet" type="text/css">
    {% comment %} <link rel="stylesheet" type="text/css" href="styles.css" /> {% endcomment %}
</head>
<body>
    <header>
        <div class="header-title-container">
            <h1> Win Game</h1>
        </div>
        <div class="header-round-info-container">
            <div class="header-img-container">
                <img src="static/war/AceSpades.png" alt="" class="header-img">
            </div>
            <div class="header-score-container">
                <h2 class="score">Score&nbsp;<span class="badge">0</span></h2>
            </div>
            <div class="header-round-container">
                <h2 class="round">Round&nbsp;<span class="badge">0</span></h2>
            </div>
        </div>
        <div class="header-status-info-container">
            <p class="current-status">
                Click 'Play Game' button to play game
            </p>
        </div>
        <div class="header-button-container">
            <div class="game-play-button-container">
                <button id = "playgame" class="play-game">Play Game</button>
            </div>
        </div>
        <div class="header-status-info-container">
            <p class="current-status">
                Click 'History' button to see previous game history
            </p>
        </div>
        <div class="header-button-container">
            <div class="game-play-button-container">
                <button id = "gamehistory" class="game-history">Game History</button>
            </div>
        </div>
    </header>
    
</body>
</html>